# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Secrets
.env*
.auth.*

# Garbage
.DS_Store
error.log
sample-prompts.txt
